@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
 themes: light, dark;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  
  --color-primary: #2E8B57;   /*  fresh green */
  --color-secondary: #FFD700;   /*  golden yellow */
  --color-accent: #94D82D;    /*  light green accent*/
  --color-neutral: #4B5563;    /*   dark text*/
  --color-base-100: #F9FAFB;   /*  light background*/
  --color-success: #22C55E;      /*   success green */
}

/* custom button overhide */
.btn-primary {
 @apply bg-gradient-to-r from-[#2E8B57] to-[#3CB371] border-none text-white;
}
.btn-primary:hover {
    @apply opacity-90
}

.btn-secondary {
  @apply bg-gradient-to-r from-[#FFD700] to-[#FFC107] text-black border-none;
}

.btn-secondary:hover {
  @apply opacity-90;
}


*{
  font-family: "Poppins", sans-serif;
}

.menu a.active{
  @apply text-primary underline;

}
.menu a{
  margin:5px;
  text-decoration: none;
}